---
layout: base.njk
title: Music
---
<h1>Music</h1>
<body>Here you can check out any music I'm working on, as well as any process updates. Might post reviews here too idk</body>
{%- for update in collections.music|reverse-%}
------------------------------------
<h3> {{update.data.title}} </h3>
{{update.templateContent|safe}}
------------------------------------
{%-endfor-%}