---
layout: base.njk
title: Photography
---
<h1>Photography</h1>
<body>Pretty self explanatory, a gallery for pictures I've taken that I think are cool. <br> </body>
{%- for update in collections.photography|reverse-%}
------------------------------------
<h3> {{update.data.title}} </h3>
{{update.templateContent|safe}}
------------------------------------
{%-endfor-%}