---
layout: base.njk
title: Projects
---
<h1> Projects </h1>

{%- for update in collections.projects|reverse-%}
------------------------------------
<h3> {{update.data.title}} </h3>
{{update.templateContent|safe}}
------------------------------------
{%-endfor-%}