<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="assets\css/style.css" />
	</head>
	<body>
	<ul>
	<li><a href="index"> home </a></li>
	<li><a href="about"> about </a> </li>
	<li><a href="blog"> blog </a></li>
	<li><a href="aquariums"> aquariums </a></li>
	<li><a href="gardening"> gardening </a></li>
	<li><a href="music"> music </a></li>
	<li><a href="Photography"> Photography</a></li>
	<li><a href="projects"> projects </a></li>
	<li><a href="other"> Other stuff </a></li>

	</ul>
		{{ content | safe }}
	</body>
</html>
