---
layout: base.njk
---
	<div class = "main">
		<h1>{{title}}</h1>
		{{ content | safe }}
	</div>
	</body>
	<div class = "">
		{%- set prevPost = collections.post| getPreviousCollectionItem -%}
		{%- set nextPost = collections.post| getNextCollectionItem -%}
		<a href = {{prevPost.url}}>Previous</a>
		<a href = {{nextPost.url}}>Next</a> 

	</div>
</html>
